<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87722632825-igirbcmglh9k3qu7893923kddq1dm6va.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87722632825-igirbcmglh9k3qu7893923kddq1dm6va</string>
	<key>API_KEY</key>
	<string>AIzaSyD8Mg3Q0qE-u7c9t-iXFcT5nv-x844g1VE</string>
	<key>GCM_SENDER_ID</key>
	<string>87722632825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.adameliezerov.Plonter</string>
	<key>PROJECT_ID</key>
	<string>plonter-c4edb</string>
	<key>STORAGE_BUCKET</key>
	<string>plonter-c4edb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87722632825:ios:fe1f38a6a9b4def2fb56a8</string>
	<key>DATABASE_URL</key>
	<string>https://plonter-c4edb.firebaseio.com</string>
</dict>
</plist>